.Navbar nav {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .Navbar nav #signInLink, .Navbar nav #signOutLink {
    box-shadow: 0 0px 0px rgba(255, 255, 255, 0);
    font-size: 1rem;
    text-transform: none;
    height: 64px;
    vertical-align: baseline;
  }
  
  .Navbar nav #signInLink:hover, .Navbar nav #signOutLink:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  
  .Navbar .sidenav {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
  
  .Navbar .sidenav #sideNavClose {
    text-align: right;
    background-color: white;
  }
  
  .Navbar .sidenav #closeIcon:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .Navbar .sidenav button {
    padding: 0px;
    border: none;
    background-color: white;
    width: 100%;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  .Navbar .sidenav #signInLinkSideNav:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .Navbar .sidenav li > a {
    padding-left: 0;
  }

  /*
  # PROBLEM THE BELOW CSS RESOLVES 
    when burger menu is displayed and user adjusts the browser to full screen
    then the menu overlay is still displayed
  */
  @media only screen and (min-width: 993px) {
    .sidenav-overlay {
      background-color: rgba(0, 0, 0, 0);
      display: none;
      opacity: 0;
      height: 0;
    }
  }
