.Navbar{
    nav{
        padding-left: 16px;
        padding-right: 16px;
        #signInLink, #signOutLink{
            box-shadow: 0 0px 0px rgba(255, 255, 255, 0);
            font-size: 1rem;
            text-transform: none;
            height: 64px;
            vertical-align: baseline;
        }
        #signInLink:hover, #signOutLink:hover{background-color: rgba(0,0,0,0.1)!important}       
         
    }
    
    .sidenav{
        padding-top: 32px;
        padding-left: 32px;
        padding-right: 32px;

        #sideNavClose{
            text-align: right;
            background-color: white;
        }
        #closeIcon:hover{background-color: rgba(0,0,0,0.05)}

        button{
            padding:0px;
            // margin-top: 16px;
            border: none;
            background-color: white;
            width: 100%;
            text-align: left;

            color: rgba(0,0,0,0.87);
            display: block;
            font-size: 14px;
            font-weight: 500;
            height: 48px;
            line-height: 48px;

            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
            -webkit-font-smoothing: antialiased;
        }
        #signInLinkSideNav:hover{
            
            background-color: rgba(0,0,0,0.05);
        }
        li>a{
            padding-left: 0;
        }
    }
}